@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants hover, focus {
    .wavy {
      text-decoration-style: wavy !important;
      text-decoration: underline;
    }
  }
  .text-outline {
    -webkit-text-stroke: currentColor;
    -webkit-text-stroke-width: 2px;
    -webkit-text-fill-color: transparent;
  }
  .focus-ring {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-primary-500;
  }
}
