@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants hover, focus {
    .wavy {
      text-decoration-style: wavy !important;
      text-decoration: underline;
    }
  }

  .text-outline {
    -webkit-text-stroke: currentColor;
    -webkit-text-stroke-width: 2px;
    -webkit-text-fill-color: transparent;
  }

  .focus-ring {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-primary-500;
  }

  .gradient-button {
    @apply bg-gradient-to-br from-indigo-600 via-purple-500 to-pink-400 hover:scale-110 duration-200 hover:shadow-xl;
  }

  .input-box {
    @apply rounded-md border-gray-300 focus:border-primary-600 focus:ring-primary-600;
  }

  .main-button {
    @apply bg-primary-700 text-white px-4 py-1 rounded-md hover:bg-primary-600 disabled:cursor-not-allowed disabled:bg-gray-400 disabled:hover:bg-gray-400;
  }

  .secondary-button {
    @apply text-primary-700 rounded-md border border-primary-700 px-4 py-1 hover:bg-primary-50 disabled:cursor-not-allowed disabled:text-gray-500 disabled:hover:bg-white disabled:border-gray-500;
  }
}
